<!-- Source: https://developers.google.com/identity/sign-in/web/sign-in -->
<%- include('./partials/header.ejs', {title: title='Login' }) %>
    <!-- Google Platform Library that integrates Google Sign-In. -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <!-- Specify client id -->
    <meta name="google-signin-client_id" content=<%=process.env.GCLOUD_CLIENT_ID %>>
    <link rel="stylesheet" href="/css/login_style.css">
    <title>Login</title>
    </head>


    <body>
        <!-- Google Sign-In button -->
        <!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->

        <!-- Sign out front end and go to /logout on back end to clear cookie -->
        <!-- <a href="/logout" onclick="signOut();">Sign out</a> -->
        <script>
            async function signOut() {
                const auth2 = gapi.auth2.getAuthInstance();
                try {
                    await auth2.signOut();
                    console.log('User signed out.');
                }
                catch (e) {
                    throw e;
                }
            }
        </script>

        <script>
            // After sign in, send id token to server
            function onSignIn(googleUser) {
                // var profile = googleUser.getBasicProfile(); // Get user Google ID, name, profile URL, email address
                // console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
                // console.log('Name: ' + profile.getName());
                // console.log('Image URL: ' + profile.getImageUrl());
                // console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.

                const idToken = googleUser.getAuthResponse().id_token;
                let xhr = new XMLHttpRequest();
                xhr.open('POST', '/login');
                xhr.setRequestHeader('Content-Type', 'application/json');
                // Process response from server
                xhr.onload = _ => {
                    console.log('Signed in as: ' + xhr.responseText);
                    // If response from server is 'success', sign out (on the client side) so that all persistence is handled by the server
                    if (xhr.responseText == 'success') {
                        signOut();
                        location.assign('/userInfo');
                    }
                };
                // Send google id jwt and google user id
                xhr.send(JSON.stringify({ token: idToken, googleId: googleUser.getBasicProfile().getId() }));
            }
        </script>

        <script>
            async function userProfile() {
                const auth2 = gapi.auth2.getAuthInstance();
                // auth2 is initialized with gapi.auth2.init() and a user is signed in.
                if (auth2.isSignedIn.get()) {
                    const profile = auth2.currentUser.get().getBasicProfile();
                    console.log('ID: ' + profile.getId());
                    console.log('Full Name: ' + profile.getName());
                    console.log('Given Name: ' + profile.getGivenName());
                    console.log('Family Name: ' + profile.getFamilyName());
                    console.log('Image URL: ' + profile.getImageUrl());
                    console.log('Email: ' + profile.getEmail());
                }
            }
        </script>

        <body class="text-center">
            <form class="form-signin">
                <!-- <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72"
                height="72"> -->
                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <label for="inputEmail" class="sr-only">Email address</label>
                <div class="input-container">
                    <i class="fa fa-envelope icon"></i>
                    <input disabled="disabled" type="email" id="inputEmail" class="form-control"
                        placeholder="Email address" required autofocus>
                </div>
                <div class="input-container">
                    <i class="fa fa-key icon"></i>
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input disabled="disabled" type="password" id="inputPassword" class="form-control"
                        placeholder="Password" required>
                </div>
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me" id="flexCheckCheckedDisabled" disabled> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" disabled="disabled" type="submit">Sign in</button>
                <div class="g-signin2" data-onsuccess="onSignIn"></div>
                <p class="mt-5 mb-3 text-muted">&copy; 2021-2022</p>
            </form>
        </body>
    </body>

    </html>